ion-content {
  --ion-background-color: #ffffff;
}

ion-header {
  position: absolute;
}

ion-toolbar {
  --ion-background-color: transparent;
  --opacity: 0;
}

.logo {
  width: 30%;
  margin: 20% 0 10% 0;
}

.campos {
  margin-bottom: 15px;
  --ion-item-background: #fff;
  --color: #000;
}

ion-button {
  --background: #2f9e41;
}

ion-back-button {
  color: black;
}
