<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-buttons slot="start" class="">
      <ion-back-button icon="close" defaultHref="adicionar"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark" class="ion-no-padding"
      >Inserir dados do cartão</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <div class="tam">
    <ion-item>
      <ion-label position="stacked">Matrícula</ion-label>
      <ion-input type="number" placeholder=""></ion-input>
    </ion-item>
    <ion-text>
      <p class="ion-text-justify">
        Termos de adesão, consectetur adipiscing elit. Nunc et massa vel enim
        pharetra sollicitudin. Curabitur posuere, tellus quis elementum
        fermentum, felis sem condimentum sapien, vitae pellentesque risus ipsum
        eu est. Etiam pulvinar enim in est condimentum, vel pellentesque velit
        interdum. Aenean aliquam tortor massa, ac facilisis nunc consequat nec.
        Donec faucibus sodales turpis, a egestas enim venenatis id. Mauris ac
        faucibus felis. In non convallis dui. Nulla hendrerit, libero et
        scelerisque consectetur, sapien eros condimentum metus, vitae vestibulum
        tortor elit non risus. Ut sapien urna, sagittis non nibh eu, hendrerit
        malesuada lectus. Aliquam erat volutpat. Donec viverra tempor risus non
        fermentum. Vestibulum et urna et metus consequat maximus. Morbi in felis
        rutrum, consequat nisl et, cursus risus. Duis tortor leo, finibus quis
        tempor sit amet, posuere luctus ipsum.
      </p>
    </ion-text>
  </div>
</ion-content>
