<ion-header class="ion-no-border ion-margin-top">
  <ion-toolbar>
    <ion-buttons slot="start" class="">
      <ion-back-button icon="close" defaultHref="carteira"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-text color="dark">
    <h1 class="ion-no-margin ion-text-left ajeitar">Sobre</h1>
  </ion-text>
  <img src="assets/images/logo.svg" alt="" class="logo ion-padding-top" />
  <ion-text class="ion-no-padding">
    <p class="ion-text-justify">
      Aplicativo desenvolvido pelos alunos do curso de Tecnologia em Sistemas
      para Internet com intuito de permitir o acesso ao Instituto atraves da
      tecnologia NFC (near field communication).
    </p>
    <h5 class="ion-padding-top ion-text-left">Desenvolvedores:</h5>
    <ion-list lines="none">
      <ion-item>
        <ion-label>Arthur Damacena</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Gabriel William</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Samuel José</ion-label>
      </ion-item>
    </ion-list>
  </ion-text>
</ion-content>
