<ion-menu contentId="main-content" class="ion-no-border">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none" class="menu-items">
      <ion-item [disabled]="true">
        <ion-icon name="settings-outline"></ion-icon>Configurações
      </ion-item>
      <ion-item [disabled]="true">
        <ion-icon name="archive-outline"></ion-icon>Contatos
      </ion-item>
      <ion-item [routerLink]="['/sobre']">
        <ion-icon name="information-circle-outline"></ion-icon>Sobre
      </ion-item>
      <ion-item [routerLink]="['/login']">
        <ion-icon name="arrow-back-outline"></ion-icon>Sair
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content" mode="md">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center ion-no-padding">
        <img src="assets/images/logo.svg" alt="" class="logo" />
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div>
      <ion-card>
        <ion-card-header class="ion-no-padding">
          <ion-thumbnail>
            <img src="assets/images/card.svg" alt="" />
          </ion-thumbnail>
          <ion-card-subtitle class="ion-no-margin" color="dark"
            >Carteira Estudantil</ion-card-subtitle
          >
        </ion-card-header>

        <ion-card-content class="ion-no-padding">
          <p>Curso: Sistemas para Internet</p>
          <p>Matrícula: XXXXXXXX</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    [routerLink]="['/adicionar']"
  >
    <ion-fab-button class="fabbtn">
      <ion-icon name="add"></ion-icon>Adicionar à Carteira
    </ion-fab-button>
  </ion-fab>
</div>
